<% content_for :left_side_bar do %>
	<p><%= link_to "知识产权声明", "/welcome/faq?n=0" %></p>
	<p><%= link_to "免责声明", "/welcome/faq?n=1" %></p>
	<p><%= link_to "权利声明", "/welcome/faq?n=2" %></p>
	<p><%= link_to "隐私权保护声明", "/welcome/faq?n=3" %></p>
<% end %>

<% case params[:n].to_i %>
<% when 0 %>
<pre>
搜一下拥有本网站内所有资料的版权，各分频道权利声明有特殊规定的，从其规定。任何被授权的浏览、复制、打印和传播属于本网站内的资料必须
符合以下条件：

• 所有的资料和图象均以获得信息为目的；
• 所有的资料和图象均不得用于商业目的；
• 所有的资料、图象及其任何部分都必须包括此版权声明； 

本网站（www.syixia.com）所有的产品、技术与所有程序均属于搜一下知识产权，在此并未授权。“syixia”、 “搜一下”及相关图形等为搜一下的
注册商标。

未经搜一下许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，搜一下将依法追究法律责任。 
</pre>
<% when 1 %>
<pre>
搜一下提醒您：在使用搜一下搜索引擎（以下简称搜一下）前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用搜一下，但如果您使用搜一下，
您的使用行为将被视为对本声明全部内容的认可。

• 鉴于搜一下以非人工检索方式、根据您键入的关键字自动生成到第三方网页的链接，除搜一下注明之服务条款外，其他一切因使用搜一下而可能遭致
的意外、疏忽、侵权及其造成的损失（包括因下载被搜索链接到的第三方网站内容而感染电脑病毒），搜一下对其概不负责，亦不承担任何法律责任。

• 任何通过使用搜一下而搜索链接到的第三方网页均系他人制作或提供，您可能从该第三方网页上获得资讯及享用服务，搜一下对其合法性概不负责，
亦不承担任何法律责任。

• 搜一下搜索结果根据您键入的关键字自动搜索获得并生成，不代表搜一下赞成被搜索链接到的第三方网页上的内容或立场。

• 您应该对使用搜索引擎的结果自行承担风险。搜一下不做任何形式的保证：不保证搜索结果满足您的要求，不保证搜索服务不中断，不保证搜索结
果的安全性、正确性、及时性、合法性。因网络状况、通讯线路、第三方网站等任何原因而导致您不能正常使用搜一下，搜一下不承担任何法律责任。

• 搜一下尊重并保护所有使用搜一下用户的个人隐私权，您注册的用户名、电子邮件地址等个人资料，非经您亲自许可或根据相关法律、法规的强制
性规定，搜一下不会主动地泄露给第三方。搜一下提醒您：您在使用搜索引擎时输入的关键字将不被认为是您的个人隐私资料。

• 任何网站如果不想被搜一下收录（即不被搜索到），应该及时向搜一下反映，或者在其网站页面中根据拒绝蜘蛛协议（Robots Exclusion 
Protocol）加注拒绝收录的标记，否则，搜一下将依照惯例视其为可收录网站。

• 任何单位或个人认为通过搜一下搜索链接到的第三方网页内容可能涉嫌侵犯其信息网络传播权，应该及时向搜一下提出书面权利通知，并提供身份
证明、权属证明及详细侵权情况证明。搜一下在收到上述法律文件后，依法尽快断开相关链接内容。详情参见特定频道的著作权保护声明。
 </pre>
<% when 2 %>
<pre>
根据用户本人的指令，搜一下的搜索引擎系统会以非人工检索方式自动生成到第三方网页的链接，以便用户能够找到和使用第
三方网页上各种文档、资料等内容。“搜一下”自身不存储、控制、编辑或修改被链接的第三方网页上登载、存储、编辑、显示
被检索（包括但不限于以文字、图片或音乐等形式出现）的信息的内容或其表现形式。 

搜一下一贯高度重视知识产权保护并遵守中国各项知识产权法律、法规和具有约束力的规范性文件。重视正版，打击盗版。根
据法律、法规和规范性文件要求，搜一下制定了旨在保护权利人的合法权益的措施和步骤，当权利人发现在搜一下生成的链接
所指向的第三方网页的内容侵犯其合法权益时，权利人应事先向搜一下发出“权利通知”，搜一下将根据中国法律法规和政府规
范性文件采取措施移除相关内容或屏蔽相关链接。 
</pre>
<% when 3 %>
<pre>
搜一下公司非常重视对您隐私的保护，在您使用搜一下提供的服务前，请您仔细阅读如下声明。

为了给您提供更准确、更有针对性的服务，搜一下可能会以如下方式，使用您提交的个人信息。但搜一下会以高度的勤勉义务对待这些信息，
在未征得您许可的情况下，不会将这些信息对外公开或向第三方提供。

• 保有您提供的信息
搜一下会在您自愿选择服务或提供信息的情况下收集您的个人信息，并将这些信息进行整合，以便向您提供更好的用户服务。请您在注册时及时、
详尽及准确的提供个人资料，并不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。如果因注册信息不真实
而引起的问题，由您自行承担相应的后果。请您不要将您的帐号、密码转让或出借予他人使用。如您发现您的帐号遭他人非法使用，应立即通知搜一下。
因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，搜一下不承担责任。


• cookies等技术的使用
搜一下网站使用cookies，以便您能登录我们的服务，并允许设定您特定的服务选项。
运用cookies技术，搜一下网站能够为您提供更加周到的个性化服务。同时，当您通过搜一下的联盟网站访问搜一下时，我们允许将位于搜一下域的
cookies发送给搜一下的Web服务器。通过使用cookies所收集的任何内容均以集合的、匿名的方式进行。您可以选择接受或拒绝 cookies。
您可以通过修改浏览器设置的方式拒绝cookies。如果您选择拒绝cookies，则您可能无法登录或使用依赖于cookies 的搜一下服务或功能。


• 保有您的使用记录
当您使用搜一下的服务时，服务器会自动记录一些信息，包括URL、IP地址、浏览器的类型和使用的语言以及访问日期和时间等。 


• 在如下情况下，搜一下会遵照您的意愿或法律的规定披露您的个人信息，由此引发的问题将由您个人承担：
（1）事先获得您的授权；
（2）只有透露你的个人资料，才能提供你所要求的产品和服务；
（3）根据有关的法律法规要求；
（4）按照相关政府主管部门的要求；
（5）为维护搜一下的合法权益。
（6）您同意让第三方共享资料。
（7）我们发现您违反了搜一下公司服务条款或任何其他产品服务的使用规定。
（8）我们需要向代表我们提供产品或服务的公司提供资料（除非我们另行通知你，否则这些公司无权使用你的身份识别资料）。
隐私权政策的修订：
搜一下公司时常会对隐私权政策进行修改。如果在使用用户个人信息政策方面有修改时，我们会在网页中显著的位置发布相关规定以便及时通知用户。

问题与建议：
如果您还有其他问题和建议，请告知我们。

搜一下会始终致力于在充分保护您隐私的前提下，为您提供更优质的体验和服务。
 </pre>
<% else %>
 dste
<% end %>