<!DOCTYPE html>
<html>
<head>
  <title>搜一下 - 第四代搜索引擎</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content = "搜一下，搜索引擎，第四代搜索引擎，小说，网络小说，小说搜索，网络小说排行榜，热门网络小说" />
  <meta name="description" content ="www.syixia.com 元搜索引擎，中文第四代搜索引擎" />
  <%= csrf_meta_tags %>
	<style type="text/css" >
 body {
  background-color: rgb(0,0,0); 
}
 #bj1 {
  background-color: rgb(25,25,25);
   position: absolute;
    z-index: 1;
    left: 5%;
    top: 5%;
  width: 90%;
  height: 90%;
}
 #bj2 {
  background-color: rgb(50,50,50);
   position: absolute;
    z-index: 3;
    left: 10%;
    top: 10%;
  width: 80%;
  height: 80%;
}
 #bj3 {
  background-color: rgb(75,75,75);
   position: absolute;
    z-index: 4;
    left: 15%;
    top: 15%;
  width: 70%;
  height: 70%;
}
 #bj4 {
  background-color: rgb(100,100,100);
   position: absolute;
    z-index: 5;
    left: 20%;
    top: 20%;
  width: 60%;
  height: 60%;
}
 #bj5 {
  background-color: rgb(125,125,125);
   position: absolute;
    z-index: 6;
    left: 25%;
    top: 25%;
  width: 50%;
  height: 50%;
}
 #top1 {
  background-image: url(top1.jpg);
     position: absolute;
    z-index: 7;
    right: 67%;
    top: 30%;
  width: 30px;
  height: 30px;
}
#text {
 border-style: none;
      position: absolute;
    z-index: 8;
 left: 33%;
 top: 30%;
 height: 30px;
 width: 30%;
 font-size: 18px;
}
#submit {
 border-style: none;
 position: absolute;
    z-index: 9;
  left: 63%;
 top: 30%;
 height: 30px;
 width: 100px;
  background: #1F1F1F url(img06.gif) no-repeat center center; 
 color: #FFFFFF;

 font-size: 20px;
}
#reimen,#women,#beian {
 text-decoration: none;
 padding: 3px;
}
#reimen {
 
 background: #1F1F1F url(img06.gif) no-repeat center center;
 color: #FFFFFF;
 position: absolute;
    z-index: 10;
 top: 45%;
 left: 45%;
  text-align: center;
 font-size: 17px;
}

#women {

  background: #1F1F1F url(img06.gif) no-repeat center center;
 color: #FFFFFF;
  position: absolute;
    z-index: 11;
 top: 65%;
 left: 43%;
 font-size: 13px;
}

#beian {
 font-size: 13px;
  background: #1F1F1F url(img06.gif) no-repeat center center;
 color: #FFFFFF;
 position: absolute;
 z-index: 12;
 top: 65%;
 left: 48%;
}

</style>
</head>

<body>

<div id="bj1">&nbsp;</div>
<div id="bj2">&nbsp;</div>
<div id="bj3">&nbsp;</div>
<div id="bj4">&nbsp;</div>
<div id="bj5">&nbsp;</div>
<a id="top1" href="http://www.syixia.com/" target="_blank" ></a>
<form action="/" accept-charset="utf-8">
 <input name="t" type="hidden" value="web"/>
 <input id="text" type="text" name="q" maxlength="32" />
 <input id="submit" type="submit" value="搜一下" />
</form>
 
<a id="reimen" href="http://www.syixia.com/welcome/top/" target="_blank" >网络小说排行榜</a>
<a id="women" href="http://www.syixia.com/welcome/about/" target="_blank" >关于我们</a>
<a id="beian" href="http://www.miibeian.gov.cn/" target="_blank" >蜀ICP备11023904号</a>
<div style="width:1px; height:1px; overflow:hidden">
  <script src="http://s19.cnzz.com/stat.php?id=3521223&web_id=3521223" language="JavaScript"></script>
</div>
</body>
</html>