<div id="footer" role="contentinfo" class="center"> 
	<%= link_to '使用前必读', :controller => :welcome, :action => :faq %>  |  
	<%= link_to '联系我们', :controller => :welcome, :action => :about %>  |  
	<%= link_to '加入我们', :controller => :welcome, :action => :job %>  |  
	<%= link_to '意见建议', :controller => :welcome, :action => :contact %><br/>
	&copy;2011 Syixia.com <br/>此内容系搜一下根据您的指令自动搜索的结果，不代表本网站赞成被搜索网站的内容或立场
</div>