<div id="footer" role="contentinfo" class="center"> 
    &copy;2011 Syixia.com 
    <a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备11023904</a><br/>
    此内容系搜一下根据您的指令自动搜索的结果，不代表本网站赞成被搜索网站的内容或立场<br/>
</div>