<div id="footer" role="contentinfo" class="center"> 
	<%= link_to '版权声明', :controller => :welcome, :action => :faq %>  |  
	<%= link_to '联系我们', :controller => :welcome, :action => :about %>  |  
	<%= link_to '意见建议', :controller => :welcome, :action => :contact %><br/>
	Syixia.com &copy;2011 版权所以 署ICP证030103号 
</div>