 <form action="/" onsubmit="return CHK_erro('q');">
  <input name="t" id="t" type="hidden" value="baidu_web"/>
  <input name="q" id="q" type="text" />
  <input name="go" type="submit" value="搜一下" />
  <input name="type" type="hidden" value="bisent" />
</form>